[Unit]
Description=Picom (Compton) Daemon
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/picom --backend=glx --vsync -C -f -D 5
Restart=always

[Install]
WantedBy=xmonad.target
